{% extends "plans/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete BroadBandPlan</legend>
                <h2> Are you Sure? You want to Delete BroadBand Plan "{{ object.planname }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit"> Yes Delete</button>
                <a class="btn btn-outline-secondary" href="{% url 'broadband-detail' object.id %}" > Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
